    <div class="video_pane">
    <%= video_tag("Fellow.mp4", :preload => "auto", :autobuffer => true, :autoplay =>true, :loop =>"loop", :muted => "muted" ) %>
    </div>

    <div class = "tag_line">
        <h1>FIND YOUR FELLOW</h1>
        <p>Affordable personalized tour from individuals who speak the language you love.</p>
    </div>

    <div class="guide-index-search">
      <%= render partial: "guides/guide_search"%>
    </div>

    <div class="category_headline">
        <h3>Explore Your Options As Visitors or Newcomers</h3>
        <p>Start your journey with ease and sense of familiarity</p>
    </div>

    <div class="tour_category">
        <a id="categ1" href = "#1">01.Guide Designed Tour</a>
        <a id="categ2" href = "#2">02.Customized Tour</a>
        <a id="categ3" href = "#3">03.Newcomer Support</a>
    </div>

    <div class="guide_designed_tour">
        <a name='1'><img id= "1_left" src='http://s33.postimg.org/b1i9obwv3/Guide_Designed_Tour.jpg' alt="Guide Designed Tour" style="width:653px;height:488px;"/></a>
        <img id="1_right"src='http://s33.postimg.org/lckdoqq1r/guidedesignedtour.jpg' alt="guidedesignedtour" style="width:651.5px;height:488px;"/>
        

<!--
        <p1>01</p1>
        <p2>GUIDE DESIGNED TOUR</p2>
        <p3>Explore all different kinds of tour packages<br>
            designed by fellows who really know your<br>
            destinated city.</p3>
-->
    </div>


    <div class="customized_tour">
        <a name='2'><img id="2right" src='http://s33.postimg.org/efdr5krxb/customizedtour.jpg' alt="Customized Tour" style="width:1306px;height:488px;"/></a>
       

<!--
        <p1>02</p1><br/>
        <p2>CUSTOMIZED TOUR</p2><br>
        <p3>Know exactly where you want to go? Let<br>
            a fellow accompany your journey and<br>
            maximize your experience.</p3>
-->
    </div>

    <div class="newcomer_support">
        <a name='3'><img id="3_left"src='http://s33.postimg.org/s7nr90rof/Newcomer_Support.jpg' alt="Newcomer Support" style="width:653px;height:488px;"/></a>
        <img id="3_right" src='http://s33.postimg.org/tw3rmhye7/newcomersupport.jpg' alt="guidedesignedtour" style="width:651.5px;height:488px;"/>

<!--
        <p1>03</p1>
        <p2>NEWCOMER SUPPORT</p2>
        <p3>Newly arrived international students or<br>
            immigrant? Let a fellow help you settle<br>
            down your new home.</p3>
-->
    </div>
