// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  @include outer-container;
}


$font-stack: Helvetica, sans-serif;
$grey: #eaeaea;
$pink: #ff2e63;
$purple: #521262;
$yellow: #f6c90e;
$green: #07c1bf;
$dark_grey: #55595B;
$black:#282828;
$lake_blue:#08D9D6;
$black_trans: rgba(0, 0, 0, 0.5);

html, body {
  height: 100%;
}

body {
  font: 100% $font-stack;
  color: $black;
  background-color: $grey;
  margin: 0;
}

.home_nav {
  float: left;
  display: inline-block;
  font-size: 0.8rem;
  a{
    color: $pink;
  }
}

nav {
  overflow: hidden;



  ul {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    // width: 100%;
    float: right;
    font-size: 1rem;
    overflow: hidden;
    margin:0;
  }

  li {
    display: block;
    text-decoration: none;
    color: $black;
      }

  a {
    display: block;
    //padding: 6px 12px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding-right: 30px;
    padding: 17px 10px;
  }
}

#become_guide {
  border: 2px solid $pink;
  color: $pink;
  padding: 5px 5px;
  margin:10px 10px 20px 20px;
  background-color: transparent;
  font-size:1rem;
}


.video_pane {
    position:absolute;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top:0;
    left:0;

    video {
      position:absolute;
      top:0;
      left:0;
      min-height: 100%;
      min-width: 100%;
    }
}

  .tag_line{
    text-align: center;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h1{
      color: white;
      padding: 1rem;
      font-size: 3rem;
    }

    p{
      color: white;
      position: relative;
      font-weight: bolder;
      font-size: 1.5rem;
      font-weight: normal;
    }
  }

  .guide-index-search {
    // left: 50%;
    // margin: auto;

    width: 100%;
    position: absolute;
    // top: 70%;
    bottom: 0;
    text-align: center;
    background-color: $black_trans;



    label {
      color: white;
      line-height: 2em;
      padding: 0.8em;
      font-size: 0.8rem;
      position: relative;
      display: inline-flex;
    }
  }

.visitor_signup_modal,
.visitor_login_modal {
  display: none;
  position: absolute;
  background-color: white;
  color: $black;
  text-align: center;
  height: 90%;
  line-height: 30px;
  width: 60%;
  z-index: 1;
  margin: 0 20%;
  overflow: hidden;

  .actions input {
    color: white;
    background-color: $pink;
    border: 1px solid $pink;
    padding: 5px 40px;
    font-size: 1rem;
  }

  .field {
    margin: 10px;
  }
  .field #visitor_email,
  #visitor_password,
  #visitor_password_confirmation {
    padding: 10px;
    width: 70%;

  }

}


.visitor_login_modal a,
.visitor_signup_modal a,
.become_guide_modal a {
  color: $black;
}



.become_guide_modal{
  display: none;
  position: absolute;
  background-color: white;
  color: $black;
  text-align: center;
  height: 70%;
  line-height: 70px;
  width: 60%;
  z-index: 2;
  margin: 0 20%;


}

.city_css {
  border: 1px solid white;
  background-color: inherit;
  padding: 5px;
  font: white;
}

.language_css {
  border: 1px solid white;
  background-color: inherit;
  padding: 5px;
  color: white;
  padding: 5px;
}

.date_css {
  border: 1px solid white;
  background-color: inherit;
  padding: 5px;

}


.search_button {
  border: 1px solid $pink;
  border-radius: 5%;
  background-color: $pink;
  font-size: 20px;
  color: white;
  padding: 2.5px 30px;
  margin-left: 20px;
}

.search_button:hover,
.search_button:active{
  border: 1px solid white;
  background-color: $black_trans;
}

.category_headline {
  position:absolute;
  margin-left:350px;
  margin-top:40px;
  color: $dark_grey;
  h3{
    font-size:1.5rem;
  }

  p{
    font-size:1rem;
  }

}

.tour_category {
  position:absolute;
  margin-top: 150px;
  a {
    display:inline;
    text-decoration: none;
  }

  #categ1:link,
  #categ1:visited{
    float:left;
    padding:20px 130px 20px 130px;
    color:white;
    background-color: $pink;
  }

  #categ1:hover,
  #categ1:active{
    background-color: #ff83a2;
  }

  #categ2:link,
  #categ2:visited{
    float:left;
    margin:auto;
    color:$dark_grey;
    padding:20px 142.5px 20px 142.5px;
    background-color: white;
  }

  #categ2:hover,
  #categ2:active{
    background-color: $black_trans;
  }

  #categ3:link,
  #categ3:visited{
    float:right;
    padding:20px 145px 20px 145px;
    color:white;
    background-color: $lake_blue;
  }

  #categ3:hover,
  #categ3:active{
    background-color: #b1fcfb;
  }
}

.guide_designed_tour {
    position:absolute;
    margin-top:210px;

    #1_left{
      float:left;
    }

    #1_right{
        float:right;
    }

//    p{
//      float:right;
//      margin:150px;
//      padding:150px;
//    }
//
//    p1{
//      font-size: 4rem;
//      margin:100px;
//    }
//
//    p2{
//      font-size: 2rem;
//    }


}

.customized_tour {
    position:absolute;
    margin-top: 700px;
}


.newcomer_support {
    position:absolute;
    margin-top: 1190px;

    #3_left{
      float:left;
    }

    #3_right{
      float:right;
    }

}
